.page-goods-detail {
  padding: 0 .24rem;

  .title {
    font-size: .36rem;
    color: #000;
    margin: .24rem 0;
  }

  .evaluate {
    font-size: .24rem;
    color: #666;
    margin: .24rem 0;

    span {
      color: #f8b854;
    }
  }
  .scroll-list {
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    &-item {
      border-radius: 8px;
      overflow: hidden;
      width: 4rem;
      margin-right: .1rem;

      img {
        width: 100%;
      }

    }
  }
}
