.page-goods-detail {
  background-color: #f8f8f8;
  font-size: 0.24rem;
  .arrow {
    width: 0.13rem;
    height: 0.22rem;
  }
  .header {
    background-color: #fff;
    padding: 0 0.24rem;
    overflow: hidden;
    .title {
      font-size: 0.36rem;
      color: #000;
      margin: 0.24rem 0;
    }
    .evaluate {
      color: #666;
      margin: 0.24rem 0;
      span {
        color: #f8b854;
      }
    }
    .scroll-list {
      display: -webkit-box;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      &-item {
        border-radius: 8px;
        overflow: hidden;
        width: 4rem;
        margin-right: 0.1rem;
        img {
          width: 100%;
        }
      }
    }
    .desc {
      display: flex;
      justify-content: space-between;
      margin: 0.3rem 0;
      .price {
        color: #f8b854;
        font-size: 0.32rem;
        s {
          color: #ccc;
          font-size: 0.24rem;
          margin-left: 0.3rem;
        }
      }
      .comment {
        display: flex;
        align-items: center;
        color: #999;
        &-item {
          margin-left: 0.5rem;
          img {
            width: 0.18rem;
            margin-right: 0.12rem;
          }
        }
      }
    }
  }
  .content {
    margin: 0.14rem 0;
    padding: 0 0.24rem;
    overflow: hidden;
    background-color: #fff;
    font-size: 0.28rem;
    .title {
      color: #333;
      margin: 0.3rem 0;
      display: flex;
      align-items: center;
      img {
        width: 0.26rem;
        margin-right: 0.14rem;
      }
    }
    .service {
      .list {
        border-bottom: 1px solid #f2f2f2;
        &-item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.24rem;
          i {
            color: #999;
          }
        }
      }
    }
    .buy {
      margin-bottom: 0.6rem;
      .remark {
        color: #666;
      }
    }
    .shop {
      .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.3rem 0;
        .sd {
          width: 2.4rem;
          height: 1.8rem;
          border-radius: 4px;
          margin-right: 0.2rem;
        }
        .info {
          width: 4.25rem;
          h4 {
            font-size: 0.28rem;
            margin-bottom: 0.2rem;
          }
          .star {
            margin: 0.14rem 0;
            color: #f8b854;
            display: flex;
            align-items: center;
            img {
              width: 1.38rem;
              height: 0.22rem;
            }
          }
          .address {
            margin: 0.14rem 0;
            color: #999;
          }
          .location {
            color: #4da3e4;
          }
        }
      }
    }
  }
  .buy-btn {
    width: 7rem;
    height: 0.9rem;
    line-height: 0.9rem;
    border-radius: 0.9rem;
    background-color: #4da3e4;
    color: #fff;
    text-align: center;
    margin: 0.4rem auto;
    font-size: 0.28rem;
  }
}
